/* p { 
	padding-left:30px; 
	text-align: justify; 
	width:400px; 
	color: #0e8c75; 
	padding-right: 30px;
	

} */

body {
	font-family: creepster, sans-serif;
	/* font-family: spirax, sans-serif; */
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ggZAv9L/dark-and-stormy-night-animation_4jjt88ivg__F0000.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: rgb(194, 190, 206);
	font-size: 22px;
	text-shadow: 2px 4px #413f5e;
}

a {
	text-decoration: none;
	
}

a:active { 
	color: hotpink; 
}

.location-links { 
	background-color: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

#logo {
	display: flex;
	justify-content: space-between;
}

.homepageImg {
	width: 250px;
	height: 250px;
	padding: 1px;
	border: 5px solid darkcyan;
}

.creepyFont {
	font-family: creepster, sans-serif;
	/* font-family: unifrakturcook, blackletter; */
	font-size: 55px;
	color: rgb(194, 190, 206);
	text-shadow: 2px 4px #413f5e;
}

#centered {
	display: flex;
	justify-content: center;
}

.searchButton {
	width: 12px;
}

.formatListing {
	display: grid;
	align-items: end;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px;
}
.links {
	color: rgb(194, 190, 206);
	background-color: darkcyan; 
	padding: 14px 25px; 
	text-align: center; 
	display: inline-block; 
}

.toDisplay {
	display: inline-grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px;
	grid-auto-flow: column;
	align-content: center;
}
.singleViewImage {
	align-items: end;
	width: 400px;
	height: 250px;
	padding: 1px;
	grid-column: 2 / 3;
	padding-left: 30px; 
	padding-right: 30px; 
}

#singleLocation {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-evenly; 
}

.red {
	color: rgb(14, 7, 18); 
}

.reviewPic {
	width: 90px;
	height: 90px;
	border:10px solid rgb(24, 11, 62); 
}


.Toastify__toast-container {
	z-index: 9999;
	position: fixed;
	padding: 4px;
	width: 320px;
	box-sizing: border-box;
	color: #fff;
}
.Toastify__toast-container--top-left {
	top: 1em;
	left: 1em;
}
.Toastify__toast-container--top-center {
	top: 1em;
	left: 50%;
	margin-left: -160px;
}
.Toastify__toast-container--top-right {
	top: 1em;
	right: 1em;
}
.Toastify__toast-container--bottom-left {
	bottom: 1em;
	left: 1em;
}
.Toastify__toast-container--bottom-center {
	bottom: 1em;
	left: 50%;
	margin-left: -160px;
}
.Toastify__toast-container--bottom-right {
	bottom: 1em;
	right: 1em;
}

.nav-container { 
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly; 
}

.search-bar { 
	margin-top: 27px; 
}

.location-text { 
	font-size: 24px; 
	text-align: center;
	width: 250px; 
	margin-bottom:50px; 
	text-decoration: none; 
	color: rgb(194, 190, 206);
	background-color: darkcyan; 
}

.location-links { 
	text-decoration: none; 
}

p { 
	margin: 0px;  
}

.display-all-container{ 
	padding-left: 20px; 
}


th { 
	color: darkcyan; 
	border-bottom: 5px solid slateblue; 
}

td { 
	text-align: center; 
	margin-left: 5px; 
	margin-right: 5px; 
	border-right:5px solid slateblue;
	border-bottom: 5px solid slateblue; 
}


.s-loc-1{ 
	flex-direction: column; 
	text-align: center; 
	background-color: darkcyan; 
	flex-grow: 3; 
}

.s-loc-2{ 
	flex-direction: column; 
	background-image: linear-gradient(to bottom right,  #0e8c75, rgb(24, 11, 62));
	padding: 10px; 
	align-items: center; 
	text-align: center; 
}
.s-loc-3{ 
	flex-direction: column; 
}

.singlelocation{ 
	flex-direction: row; 
	flex-wrap: wrap;  

}

.singleViewImage{ 
	margin-left: 0px; 
	padding-left:30px; 
	padding-right:30px; 
	align-items: center; 
	border:5px solid slateblue; 
}

#s-loc-text-1{ 
	margin-top: 20px;
	align-items: center;
	margin-left:90px; 
	margin-right:10px;  
	padding-left:30px; 
	text-align: center;  
	width:200px; 
	background-color: #0e8c75; 
	color: rgb(186, 183, 227); 
	padding-right: 30px;
	font-size: 24px; 
	border:5px solid slateblue; 

}
#s-loc-text-2 { 
	margin-top:10px; 
	padding-top: 20px; 
	padding-left:30px; 
	padding-bottom: 20px;
	text-align: justify; 
	width:400px; 
	color: #0e8c75; 
	padding-right: 30px;
	background-color: black; 
	border:5px solid slateblue; 
	
	
}

.reviews-box{ 
	display: flex; 
	flex-direction: column; 
	flex-grow: 2; 
	background-color: rgb(162, 152, 152, .30); 
	padding-left: 25px; 
	padding-right: 25px; 
}
.signup-text { 
	margin-top: 40px; 
	padding-top: 10px; 
	margin-bottom: 10px; 
	/* margin-left: 185px;  */
	padding-left:10px; 
	padding-right: 10px; 
	text-decoration: none; 
	background-color: darkcyan; 
	color: rgb(194, 190, 206);
	
}

.login-container { 
	display: flex; 
	flex-direction: row; 
}

.review-row{ 
	padding-bottom: 10px; 
	border-bottom: 5px solid black; 
	margin-bottom: 20px; 
	color: darkcyan; 
	text-shadow: 2px 4px #000000;

}

.review-label{ 
	text-align: center; 
	color: darkcyan; 
	text-shadow: 2px 4px #000000;
	border:5px solid slateblue;
	margin-right: 1000px; 
}


