body {
	font-family: spirax, sans-serif;
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ggZAv9L/dark-and-stormy-night-animation_4jjt88ivg__F0000.png');
	color: white;
	font-size: 22px;
}

a {
	text-decoration: none;
	
}

a:active { 
	color: hotpink; 
}

.location-links { 
	background-color: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

#logo {
	display: flex;
	justify-content: space-between;
}

.homepageImg {
	width: 250px;
	height: 250px;
	padding: 1px;
	border: 5px solid darkcyan;
}

.creepyFont {
	font-family: unifrakturcook, blackletter;
	font-size: 55px;
	color: white;
}

#centered {
	display: flex;
	justify-content: center;
}

.searchButton {
	width: 12px;
}

.formatListing {
	display: grid;
	align-items: end;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px;
}
.links {
	color: white;
	background-color: darkcyan; 
	color: white; 
	padding: 14px 25px; 
	text-align: center; 
	display: inline-block; 
}

.toDisplay {
	display: inline-grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px;
	grid-auto-flow: column;
	align-content: center;
}
.singleViewImage {
	align-items: end;
	width: 400px;
	height: 250px;
	padding: 1px;
	grid-column: 2 / 3;
}

#singleLocation {
	display: grid;
}

.red {
	color: red;
}

.reviewPic {
	width: 90px;
	height: 90px;
}


.Toastify__toast-container {
	z-index: 9999;
	position: fixed;
	padding: 4px;
	width: 320px;
	box-sizing: border-box;
	color: #fff;
}
.Toastify__toast-container--top-left {
	top: 1em;
	left: 1em;
}
.Toastify__toast-container--top-center {
	top: 1em;
	left: 50%;
	margin-left: -160px;
}
.Toastify__toast-container--top-right {
	top: 1em;
	right: 1em;
}
.Toastify__toast-container--bottom-left {
	bottom: 1em;
	left: 1em;
}
.Toastify__toast-container--bottom-center {
	bottom: 1em;
	left: 50%;
	margin-left: -160px;
}
.Toastify__toast-container--bottom-right {
	bottom: 1em;
	right: 1em;
}

.nav-container { 
	display: flex; 
	flex-direction: row; 
}

.search-bar { 
	margin-top: 27px; 
}

.location-text { 
	font-size: 24px; 
	text-align: center;
	width: 250px; 
	margin-bottom:50px; 
	text-decoration: none; 
	color: white; 
	background-color: darkcyan; 
}

.location-links { 
	text-decoration: none; 
}

p { 
	margin: 0px;  
}

.display-all-container{ 
	padding-left: 20px; 
}

